package components

import "github.com/bendigiorgio/go-kv/internal/engine"

templ ListInner(kvPairs []engine.KVPair, page int, limit int) {
	for index, pair := range kvPairs {
		@KeyValueCard(index+((page-1)*limit), pair.Key, pair.Value)
	}
}
